NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_DASHSCOPE_KEY=
NEXT_PUBLIC_OPENROUTER_API_KEY=
NEXT_PUBLIC_CHATTTS_API_URL=http://localhost:9000
NEXT_PUBLIC_VOSK_SERVICE_URL=http://localhost:3002/transcribe
